<ul style="font-size: 16px; list-style-type: none; position: fixed; left: 50%; margin-left: -325px">
{% for p in site.data.pages %}
  	<li style="float: left">
  		{% if p[0] == page.title %}
		<a href="{{ page.url }}" style="display: block; color: white; text-align: center; padding: 16px; text-decoration: underline;">{{ p.title }}</a>
		{% else %}
		<a href="{{ page.url }}" style="display: block; color: white; text-align: center; padding: 16px; text-decoration: none;">{{ p.title }}</a>
		{% endif %}
	</li>
{% endfor %}
</ul>