
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div id="banner">
      <span id="logo"></span>
      <a href="https://github.com/crimsonred/crimsonred.github.io" class="button fork"><strong>View On GitHub</strong></a>
      <a href="https://github.com/crimsonred/crimsonred.github.io" class="button fork"><strong>View On GitHub</strong></a>
    </div>
    <div class="wrapper">
      {{ content }}
    </div>
  </body>
</html>